@model PL.Models.LoginModel

<div class="container">
    <div class="row mb-3">
        <div class="col-sm-7 order-12 order-sm-1 brand-holder">
            <form class="form-signin" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
                <div class="validation" asp-validation-summary="All"></div>
                <div>
                    <div>
                        <label asp-for="Email">Input Email</label><br />
                        <input class="login-input" type="text" asp-for="Email" />
                        <span asp-validation-for="Email" />
                    </div>
                    <div>
                        <label asp-for="Password">Input password</label><br />
                        <input class="login-input" asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            Don't have an account yet? <a asp-action="Register" asp-controller="Account">Register now</a>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign in" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!--
    <form class="form-signin" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
        <div class="validation" asp-validation-summary="All"></div>
        <div>
            <div class="form-group">
                <label asp-for="Email">Input Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Input password</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="checkbox mb-3">
                <label>
                    Don't have an account yet? <a asp-action="Register" asp-controller="Account">Register now</a>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
        </div>
    </form>
        -->