<ul class="navbar-nav">
    @if (User.Identity.Name != null)
    {
        <li class="nav-item">        
            @*@Html.ActionLink("Logout", "Logout", "Account")*@
            <a class="btn btn-outline-primary d-lg-inline-block mb-3 mb-md-0 ml-md-3" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary d-lg-inline-block mb-3 mb-md-0 ml-md-3" asp-controller="Account"  asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary d-lg-inline-block mb-3 mb-md-0 ml-md-3" asp-controller="Account"  asp-action="Login">Login</a>
        </li>
    }
</ul>
